<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
  table,
  th,
  tr,
  td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
  }

  body {
    background: #AEA8AA;
    background-image: url('/media/images/spacebackgroundv2.jpg');

  }

  .content {
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
  }


  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }

  .button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .left {
    vertical-align: top;
    text-align: left;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }
</style>

<body>
  <div>
    <div class="tab" id="crypto_link">
      <button class='tablinks active' type='button' id='button_home' name='button_home'
        onclick="document.location='/home/'" disabled>Home</button>
      <button class='tablinks' type='button' id='button_crypto' name='button_crypto'
        onclick="document.location='/crypto/'">Crypto</button>
      <button class='tablinks' type='button' id='button_news' name='button_news'
        onclick="document.location='/news/'">News</button>
      <button class='tablinks' type='button' id='button_user' name='button_user'
        onclick="document.location='/users/'">Users</button>
      <button class='tablinks' type='button' id='button_questions' name='button_questions'
        onclick="document.location='/questions/'">Q&A</button>
    </div>
    <div style="padding-top: 10px;text-align: center;">
      <b><label style="color: white;font-size: 30px;">System Dashboard</label></b>
    </div>
    <div style="padding-top: 10px;text-align: center;">
      <b><label style="color: white;font-size: 30px;">Date : </label><label style="color: white;font-size: 30px;" id="date"></label></b>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <button class="button" onclick="refresh()">Refresh</button>
    </div>
    <div  class="content">
      <div style="text-align: center;width:100%;padding-top: 10px;">
        <table style="width:100%">
          <tr>
            <th style="width: 50%;">
              <label>จำนวนเหรียญที่ผู้ใช้งานติดตามในระบบ</label>
            </th>
            <th style="width: 50%;">
              <label>รายละเอียดข้อมูล</label>
            </th>
          </tr>
          <tr>
            <td>
              <canvas id='doughnut_0'></canvas>
            </td>
            <td class="left" style="width: 50%;">
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำนวนเหรียญในระบบ : </label></b><label>{{ cryptoDataNumber }} เหรียญ</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำวนวข้อมูลที่มีในการดึงมา : </label></b><label>{{ dataValueNumber }} ข้อมูล</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำนวนข้อมูลสรุปเหรียญ : </label></b><label>{{ dataValueDailyNumber }} ข้อมูล</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำนวนข้อมูลรายละเอียดเหรียญ : </label></b><label>{{ dataCryptoProfileNumber }} ข้อมูล</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำนวนข้อมูลข่าวสาร </label></b><label>{{ dataNews }} ข้อมูล</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำนวนผู้ใช้งานระบบ : </label></b><label>{{ dataUsersNumber }} คน</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำนวนผู้ใช้งานระบบรับการแจ้งเตือน : </label></b><label>{{ dataUsersActiveNumber }} คน</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำวนวนผู้ใช้งานระบบไม่รับการแจ้งเตือน : </label></b><label>{{ dataUsersDisActiveNumber }}
                  คน</label>
              </div>
              <div style="padding-top: 10px;padding-left: 25px;">
                <b><label>จำนวนการเข้าใช้ฟังชั่น : </label></b><label>{{ dataFootPrintNumber }} ฟังชั่น</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label>จำนวนข้อมูลราคาที่มาจาก Api</label>
            </td>
            <td>
              <label>จำนวนคำสั่งที่ผู้ใช้งานใช้</label>
            </td>
          </tr>
          <tr>
            <td>
              <canvas id='bar_0'></canvas>
            </td>
            <td>
              <canvas id='bar_1'></canvas>
            </td>
          </tr>
        </table>
      </div>
    </div>


    <script>
      var cryptoDataRow = {{ cryptoDataRow| safe }};
      var numberDataRow = {{ numberDataRow| safe }};
      var popularData = {{ popularData| safe }};
      var footPrintCommand = {{ footPrintCommand| safe }};
      var footPrintCommandCount = {{ footPrintCommandCount| safe }};
      var color = []
      popularData.forEach((element, index) => {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        color.push("rgb(" + r + "," + g + "," + b + ")")
      })

      var timeDisplay = document.getElementById("date");
      var ctx_volume = document.getElementById("bar_0");
      var chart = new Chart(ctx_volume, {
        type: "bar",
        data: {
          labels: cryptoDataRow,
          datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: color,
            borderColor: "rgba(255, 255, 174, 0.5)",
            data: numberDataRow
          }]
        },
        options: {
          legend: { display: false },
          scales: {
            yAxes: [{
              gridLines: {
                display: true,
                drawBorder: true,
                color: "#E0F5FF",
              },
              ticks: {
              }
            }],
            xAxes: [{
              gridLines: {
                display: true,
                drawBorder: true,
                color: "#E0F5FF",
              },
              ticks: {
              }
            }]
          },
        },
      });

      var ctx_pie = document.getElementById("doughnut_0");
      var chart = new Chart(ctx_pie, {
        type: "doughnut",
        data: {
          labels: cryptoDataRow,
          datasets: [{
            label: 'My First Dataset',
            data: popularData,
            backgroundColor: color,
            hoverOffset: 10
          }]
        }, options: {
          legend: {
            labels: {
            }
          },
        }
      });
      var ctx_volume = document.getElementById("bar_1");
      var chart = new Chart(ctx_volume, {
        type: "bar",
        data: {
          labels: footPrintCommand,
          datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: color,
            borderColor: "rgba(255, 255, 174, 0.5)",
            data: footPrintCommandCount
          }]
        },
        options: {
          legend: { display: false },
          scales: {
            yAxes: [{
              gridLines: {
                display: true,
                drawBorder: true,
                color: "#E0F5FF",
              },
              ticks: {
                beginAtZero: true
              }
            }],
            xAxes: [{
              gridLines: {
                display: true,
                drawBorder: true,
                color: "#E0F5FF",
              },
              ticks: {
              }
            }]
          },
        },
      });



      function refreshTime() {
        var dateString = new Date().toLocaleString("en-GB", { timeZone: "Asia/Bangkok" });
        var formattedString = dateString.replaceAll("/", "-").replaceAll(", ", " ")
        formattedArrays = formattedString.split(" ")
        time = formattedArrays[1]
        date = formattedArrays[0].split("-")

        day = date[0]
        month = date[1]
        year = date[2]

        string = year + "-" + month + "-" + day + " " + time
        timeDisplay.innerHTML = string;
      }

      setInterval(refreshTime, 1000);

      function refresh() {
        location.reload();
      }
    </script>
  </div>
</body>

</html>