<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            background: #AEA8AA;
            background-image: url('/media/images/spacebackgroundv2.jpg');

        }

        .content {
            max-width: 500px;
            margin: auto;
            background-color: rgb(250, 250, 109);
            padding: 10px;
            border-radius: 20px;
        }

        .text-center {
            text-align: center;
        }

        label {
            color: rgb(0, 0, 0);
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 20px;
        }

        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 20px;
        }

        input[type=text]:focus {
            border: 6px solid rgb(0, 0, 0);
        }

        input[type=password]:focus {
            border: 6px solid rgb(0, 0, 0);
        }

        .button {
            background-color: #04AA6D;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
            border-radius: 50px;
            width: 200px;
        }

        .border-radius-0 {
            border-radius: 50px;
        }
    </style>

<body>
    <form id="form">
        {% csrf_token %}
        <div class="content">
            <div style="padding-top: 1px;">
                <h1>Welcome 's back captain</h1>
            </div>
            <div style="padding-top: 5px;">
                <label>Username</label>
            </div>
            <div style="padding-top: 10px;">
                <input type="text" id="username" name="username" placeholder="Username"><br>
            </div>
            <div style="padding-top: 10px;">
                <label>Password</label>
            </div>
            <div style="padding-top: 10px;">
                <input type="password" id="password" name="password" placeholder="Password"><br>
            </div>
            <div class="text-center" style="padding-top: 10px;">
                <button class="button" type="submit">Login</button>
            </div>
        </div>
    </form>
</body>
<script>
    $("#form").submit(function () {
        $.ajax({
            type: "POST",
            url: "/checklogin/",
            data: $("#form").serialize(),
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                Swal.fire({
                    title: 'ล็อกอินสำเร็จ',
                    width: 400,
                    padding: '3em',
                    color: 'rgb(0, 0, 0)',
                    background: 'rgb(250, 250, 109)',
                    customClass: {
                        popup: 'border-radius-0'
                    }
                }).then((value) => {
                    location.href = "/home/";
                });
            },
            error: function (data) {
                Swal.fire({
                    title: 'ล็อกอินไม่สำเร็จ',
                    width: 400,
                    padding: '3em',
                    color: 'rgb(0, 0, 0)',
                    background: 'rgb(250, 250, 109)',
                    customClass: {
                        popup: 'border-radius-0'
                    }
                })
            }
        });
        return false
    });
</script>
</head>

</html>