<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
  body {
    background: #AEA8AA;
    background-image: url('/media/images/spacebackgroundv2.jpg');

  }

  .content {
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }

  .delete-button {
    background-color: #ff0000;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .detail-button {
    background-color: #62ff00;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 150px;
  }

  .edit-button {
    background-color: #0c79ff;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .parginate-button {
    background-color: #fb9a1a;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .left {
    vertical-align: top;
    text-align: left;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .page-links {
    text-align: center;
    margin: auto;
    width: 50%
  }

  #table-list td,
  #table-list th {
    border: 0px solid #ddd;
    padding: 8px;
  }

  #table-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #table-list tr:hover {
    background-color: #ddd;
  }

  #table-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .border-radius-0 {
    border-radius: 50px;
  }
</style>

<body>
  <div>
    <div class="tab" id="crypto_link">
      <button class='tablinks' type='button' id='button_home' name='button_home'
        onclick="document.location='/home/'">Home</button>
      <button class='tablinks' type='button' id='button_crypto' name='button_crypto'
        onclick="document.location='/crypto/'">Crypto</button>
      <button class='tablinks active' type='button' id='button_news' name='button_news'
        onclick="document.location='/news/'" disabled>News</button>
      <button class='tablinks' type='button' id='button_user' name='button_user'
        onclick="document.location='/users/'">Users</button>
      <button class='tablinks' type='button' id='button_questions' name='button_questions'
        onclick="document.location='/questions/'">Q&A</button>
    </div>
    <div style="padding-top: 10px;text-align: center;">
      <b><label style="color: white;font-size: 30px;">News Management</label></b>
    </div>
    <div class="content">
      <div style="text-align: left;">
        <label style="color: black;">หน้าที่ : {{ page.number }}</label>
      </div>
      <div style="text-align: center;padding-top: 20px;">
        <table id="table-list" style="width: 100%;">
          <tr>
            <th style="text-align: center;"><label>วันที่/เวลา</label></th>
            <th style="text-align: center;"><label>หัวข้อ</label></th>
            <th style="text-align: center;"><label></label></th>
            <th style="text-align: center;"><label></label></th>
            <!-- <th style="text-align: center;"><label></label></th> -->
          </tr>
          {% for item in page.object_list %}
          <tr>
            <td style="text-align: center;">{{ item.date_time|date:'d/m/Y H:i:s' }}
            </td>
            <td style="text-align: center;word-break: break-word;"><label>{{ item.topic }}</td>
            <td style="text-align: center;"><button class='delete-button' type='button'
                onclick="deleteNews('{{ item.id }}','{{ item.topic }}')">ลบ</button></td>
            <!-- <td style="text-align: center;"><button class='edit-button' type='button'
                onclick="sendNews('{{ item.id }}','{{ item.topic }}')">ส่งข่าว</button></td> -->
            <td style="text-align: center;"><button class='detail-button' type='button'
                onclick="location.href='/newsDetail/?id={{ item.id }}'">รายละเอียด</button></td>
          </tr>
          </tr>
          {% endfor %}
        </table>
        <div>
          <div class="page-links" style="padding-top: 20px;">
            {% if page.has_previous %}
            <button class="parginate-button"
              onclick="location.href='/news/?page={{ page.previous_page_number }}'">Previous Page</button>
            {% endif %}
            {% if page.has_next %}
            <button class="parginate-button" onclick="location.href='/news/?page={{ page.next_page_number }}'">Next
              Page</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  function deleteNews(id, topic) {
    Swal.fire({
      title: 'ลบข่าว ' + topic + ' หรือไม่',
      width: 400,
      padding: '3em',
      color: 'rgb(0, 0, 0)',
      showCancelButton: true,
      background: 'rgb(250, 250, 109)',
      confirmButtonText: 'ยืนยัน',
      cancelButtonText: 'ยกเลิก',
      customClass: {
        popup: 'border-radius-0'
      }
    }).then((value) => {
      if (value.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/deleteNews/",
          data: { 'id': id },
          contentType: "application/x-www-form-urlencoded",
          success: function (data) {
            Swal.fire({
              title: 'ลบข่าวสำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          },
          error: function (data) {
            Swal.fire({
              title: 'ลบข่าวไม่สำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          }
        })
      }
    });
  }

  function sendNews(id, topic) {
    var name_edit = ""
    var name_short_edit = ""
    Swal.fire({
      title: 'ส่งข่าว ' + crypto,
      color: 'rgb(0, 0, 0)',
      background: 'rgb(250, 250, 109)',
      customClass: {
        popup: 'border-radius-0'
      },
      html:
        'เหรียญ ' +
        '<input style="margin-left: 73px;" id="name" value="' + name + '" class="swal2-input">' +
        'เหรียญ  (ย่อ)' +
        '<input id="name_short" value="' + name_short + '" class="swal2-input">',
      showCancelButton: true,
      confirmButtonText: 'ยืนยัน',
      cancelButtonText: 'ยกเลิก',
      preConfirm: () => {
        console.log(name_short);

        return [
          name_edit = document.getElementById('name').value,
          name_short_edit = document.getElementById('name_short').value
        ]
      }
    }).then((value) => {
      if (value.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/sendNews/",
          data: { 'id': id },
          contentType: "application/x-www-form-urlencoded",
          success: function (data) {
            Swal.fire({
              title: 'ส่งข่าวสำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          },
          error: function (data) {
            Swal.fire({
              title: 'ส่งข่าวไม่สำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          }
        })
      }
    });
  }
</script>

</html>