<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;1,500&display=swap" rel="stylesheet">
<style>
  @font-face {

    font-family: 'Sarabun', sans-serif;
    src: url(https://fonts.google.com/specimen/Sarabun?subset=thai#standard-styles);
  }

  * {
    font-family: 'Sarabun', sans-serif;
  }

  table,
  th,
  tr,
  td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    font-size: 39px;
  }

  body {
    background: #AEA8AA;
    background-image: url('/media/images/spacebackgroundv2.jpg');

  }

  .content {
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
  }

  label {
    font-size: 25px;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }

  .button-coin {
    background-color: #3273ff;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 380px;
  }

  .parginate-button {
    background-color: #fb9a1a;
    /* Green */
    width: 150px;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .more-button {
    background-color: #AEA8AA;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 15px;
    cursor: pointer;
    border-radius: 50px;
  }

  .back-button {
    background-color: #fb9a1a;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 15px;
    cursor: pointer;
    border-radius: 50px;
  }
</style>

<body>
  <div class="">
    <div class="tab" id="crypto_link">
      <button class='tablinks' type='button' id='button_home' name='button_home'
        onclick="document.location='/home/'">Home</button>
      <button class='tablinks' type='button' id='button_crypto' name='button_crypto'
        onclick="document.location='/crypto/'">Crypto</button>
      <button class='tablinks active' type='button' id='button_news' name='button_news'
        onclick="document.location='/news/'" disabled>News</button>
      <button class='tablinks' type='button' id='button_user' name='button_user'
        onclick="document.location='/users/'">Users</button>
      <button class='tablinks' type='button' id='button_questions' name='button_questions'
        onclick="document.location='/questions/'">Q&A</button>
    </div>
    <div style="padding-top: 10px;text-align: center;">
      <b><label style="color: white;font-size: 30px;">News Detail</label></b>
    </div>
    <div style="padding-top: 20px;">
      <div class="content">
        <div style="text-align: right;">
          <button class="back-button" onclick="document.location='/news/'">ย้อนกลับ</button>
        </div>
        <div style="text-align: center;padding-top: 10px;">
          <label style="font-size: 30;font-weight: bold;">
            {{ data.topic }}
          </label>
        </div>
        <div style="padding-top: 20px;">
          <label style="font-size: 20;"> {{ data.detail }} <button target="_blank" class="more-button"
              onclick=" window.open('{{ data.link }}','_blank')">เพิ่มเติม</button></label>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  crypto_button = '{{ cryptoString }}'
  crypto_button = crypto_button.replaceAll(") (", ",").replaceAll("(", "").replaceAll(")", "").replaceAll(" ", "").split(",")
  crypto_button.forEach((element, index) => {
    functions = 'myFunction("' + element + '")'
    var newChild = "<button class='tablinks' type='button' id='button_" + element + "' name='button_" + element + "' onclick='" + functions + "'>" + element.toUpperCase() + "</button>"
    $("#crypto_link").append(newChild);
  });

  function myFunction(crypto) {
    window.location.href = '/users/crypto/?' + 'crypto=' + crypto;
  }
</script>

</html>