<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;1,500&display=swap" rel="stylesheet">
<style>
  @font-face {

    font-family: 'Sarabun', sans-serif;
    src: url(https://fonts.google.com/specimen/Sarabun?subset=thai#standard-styles);
  }

  * {
    font-family: 'Sarabun', sans-serif;
  }

  table,
  th,
  tr,
  td {
    border: 1px solid rgb(249, 249, 205);
    border-collapse: collapse;
    text-align: center;
    font-size: 39px;
  }

  body {
    background: #AEA8AA;
    background-image: url('/media/images/spacebackgroundv2.jpg');

  }

  .content {
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
  }

  label {
    font-size: 25px;
  }

  .tab button {
    max-width: 900px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;
    ;
    transition: 0.3s;
    font-size: 30px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }

  .button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    color: #AEA8AA;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;
    ;
    transition: 0.3s;
    font-size: 30px;
    border-radius: 50px;
  }

  .button-coin {
    background-color: #1B74E4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 8px 10px;
    cursor: pointer;
    border-radius: 50px;
    width: 350px;
  }

  .border-radius-0 {
    border-radius: 50px;
    font-size: 20px;
  }
</style>

<body>
  <div class="tab" id="crypto_link">
    <button class='' type='button' id='button_home' name='button_home'
      onclick="document.location='/users/home/'">Home</button>
    <button class='' type='button' id='button_profile' name='button_profile'
      onclick="document.location='/users/profile/'">Profile</button>
    <button class='active' type='button' id='button_home' name='button_home' onclick="document.location='/users/coin/'"
      disabled>Coin</button>
    <button class='' type='button' id='button_news' name='button_news'
      onclick="document.location='/users/news/'">News</button>
    <button class='' type='button' id='button_questions' name='button_questions'
      onclick="document.location='/users/questions/'">Q&A</button>
  </div>
  <div style="padding-top: 40px;margin-left:50px;text-align: left;">
    <b><label style="color: white;font-size: 40px;">Coin</label></b>
  </div>
  <div style="padding-top: 10px;margin-left:50px;text-align: left;">
    <b><label style="color: white;font-size: 40px;">การติดตามเหรียญ</label></b>
  </div>
  <div style="padding-top: 20px;">
    <div class="content">
      <div style="padding-top: 10px;text-align: left;">
        <label style="font-size: 30px;font-weight: bold;">เหรียญที่ยังไม่ได้ติดตาม</label><br>
        <label>(กดที่เหรียญที่สนใจเพื่อติดตาม)</label>
      </div>
      <div style="margin-top: 30px;text-align: center;">
        {% for item in notAdd %}
        {% if userCryptoLen < 5 %} <button class='button-coin' type='button' onclick="AddCoin('{{item}}')">
          <img src='/media/uploads/{{item}}.png' style='margin-right: 10px;vertical-align: middle;' width='45'
            height='45'>
          {{item|upper }}
          </button>
          {% else %}
          <button class='button-coin' type='button' onclick="AddCoin('{{item}}')" disabled>
            <img src='/media/uploads/{{item}}.png' style='margin-right: 10px;vertical-align: middle;' width='45'
              height='45'>
            {{item|upper }}
          </button>

          {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
  <div style="padding-top: 20px;">
    <div class="content">
      <div style="padding-top: 10px;text-align: left;">
        <label style="font-size: 30px;font-weight: bold;">เหรียญที่กำลังติดตาม</label><br>
        <label>(สามารถติดตามได้มากสุด 5 เหรียญ)</label>
      </div>
      <div style="margin-top: 30px;text-align: center;">
        {% for item in userCrypto %}

        <button class='button-coin' type='button' onclick="RemoveCoin('{{item}}')">
          <img src='/media/uploads/{{item}}.png' style='margin-right: 10px;vertical-align: middle;' width='45'
            height='45'>
          {{item|upper }}
        </button>

        {% endfor %}
      </div>
    </div>
  </div>
  </div>
</body>

<script>
  crypto_button = '{{ cryptoString }}'
  crypto_button = crypto_button.replaceAll(") (", ",").replaceAll("(", "").replaceAll(")", "").replaceAll(" ", "").split(",")
  crypto_button.forEach((element, index) => {
    functions = 'myFunction("' + element + '")'
    var newChild = "<button class='tablinks' type='button' id='button_" + element + "' name='button_" + element + "' onclick='" + functions + "'>" + element.toUpperCase() + "</button>"
    $("#crypto_link").append(newChild);
  });

  function myFunction(crypto) {
    window.location.href = '/users/crypto/?' + 'crypto=' + crypto;
  }
  function AddCoin(coin) {
    Swal.fire({
      title: 'ติดตามเหรียญ ' + coin,
      padding: '3em',
      color: 'rgb(0, 0, 0)',
      showCancelButton: true,
      background: 'rgb(250, 250, 109)',
      confirmButtonText: 'ยืนยัน',
      confirmButtonColor: '#04AA6D',
      cancelButtonText: 'ยกเลิก',
      cancelButtonColor: '#EB4E3D',
      customClass: {
        popup: 'border-radius-0'
      }
    }).then((value) => {
      if (value.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/users/addcoin/",
          data: { 'coin': coin },
          contentType: "application/x-www-form-urlencoded",
          success: function (data) {
            Swal.fire({
              title: 'ติดตามเหรียญสำเร็จ',
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              confirmButtonColor: '#04AA6D',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.reload();
            });
          },
          error: function (data) {
            Swal.fire({
              title: 'ติดตามเหรียญไม่สำเร็จ',
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              confirmButtonColor: '#04AA6D',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.reload();
            });
          }
        })
      }
    })
  }

  function RemoveCoin(coin) {
    Swal.fire({
      title: 'ยกเลิกติดตามเหรียญ ' + coin,
      padding: '3em',
      color: 'rgb(0, 0, 0)',
      showCancelButton: true,
      background: 'rgb(250, 250, 109)',
      confirmButtonText: 'ยืนยัน',
      confirmButtonColor: '#04AA6D',
      cancelButtonText: 'ยกเลิก',
      cancelButtonColor: '#EB4E3D',
      customClass: {
        popup: 'border-radius-0'
      }
    }).then((value) => {
      if (value.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/users/removecoin/",
          data: { 'coin': coin },
          contentType: "application/x-www-form-urlencoded",
          success: function (data) {
            Swal.fire({
              title: 'ยกเลิกติดตามเหรียญสำเร็จ',
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              confirmButtonColor: '#04AA6D',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.reload();
            });
          },
          error: function (data) {
            Swal.fire({
              title: 'ยกเลิกติดตามเหรียญไม่สำเร็จ',
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              confirmButtonColor: '#04AA6D',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.reload();
            });
          }
        })
      }
    })
  }

</script>

</html>