<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;1,500&display=swap"
        rel="stylesheet">
    <style>
        @font-face {

            font-family: 'Sarabun', sans-serif;
            src: url(https://fonts.google.com/specimen/Sarabun?subset=thai#standard-styles);
        }

        * {
            font-family: 'Sarabun', sans-serif;
        }

        body {
            background: #AEA8AA;
            background-image: url('/media/images/spacebackgroundv2.jpg');

        }

        .content {
           max-width: 900px;
            margin: auto;
            background-color: rgb(255, 255, 255);
            padding: 40px;
            border-radius: 20px;
        }

        .text-center {
            text-align: center;
        }

        label {
            color: rgb(0, 0, 0);
        }

        input[type=text] {
            font-size: 25px;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 20px;
        }

        input[type=password] {
            font-size: 25px;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 20px;
        }

        input[type=text]:focus {
            border: 6px solid rgb(0, 0, 0);
        }

        input[type=password]:focus {
            border: 6px solid rgb(0, 0, 0);
        }

        .button-login {
            background-color: #04AA6D;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 2px 2px;
            cursor: pointer;
            border-radius: 50px;
            width: 200px;
        }

        .button-register {
            background-color: #3273ff;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 2px 2px;
            cursor: pointer;
            border-radius: 50px;
            width: 200px;
        }

        .border-radius-0 {
            border-radius: 50px;
            font-size: 20px;
        }
    </style>

<body>
    <form id="form">
        {% csrf_token %}
        <div style="padding-top: 20px;">
            <div class="content">
                <div style="padding-top: 1px;text-align: center;">
                    <label style="font-size: 40px;">ยินดีต้อนรับ</label>
                </div>
                <div style="padding-top: 5px;font-size: 30px;">
                    <label>ชื่อบัญชี : </label>
                </div>
                <div style="padding-top: 10px;">
                    <input type="text" id="username" name="username" placeholder="Username" required><br>
                </div>
                <div style="padding-top: 10px;font-size: 30px;">
                    <label>รหัสผ่าน : </label>
                </div>
                <div style="padding-top: 10px;">
                    <input type="password" id="password" name="password" placeholder="Password" required><br>
                </div>
                <div class="text-center" style="padding-top: 20px;">
                    <button class="button-login" type="submit">เข้าสู่ระบบ</button>
                    <button class='button-register' type='button'
                        onclick="document.location='/users/register/'">ลงทะเบียน</button>
                </div>
            </div>
        </div>
    </form>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://static.line-scdn.net/liff/edge/versions/2.1.13/sdk.js"></script>
<script>

    function logOut() {
        liff.logout()
    }

    function closed() {
        liff.closeWindow();
    }
    var line_id
    var name
    async function getValue() {
        const profile = await liff.getProfile()
        console.log(profile)
        line_id = profile.userId
        name = profile.displayName
        IsLogin()
    }

    async function main() {
        liff.ready.then(() => {
            if (liff.isLoggedIn()) {
                getValue();
            } else {
                liff.login()
                if (liff.isLoggedIn()) { }
            }
        })
        await liff.init({
            liffId: "1656966432-RdE6Xg0M"
        })
    }

    main()

    $("#form").submit(function () {
        $.ajax({
            type: "POST",
            url: "/users/checklogin/",
            data: $("#form").serialize(),
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                Swal.fire({
                    title: 'ล็อกอินสำเร็จ',
                    padding: '3em',
                    color: 'rgb(0, 0, 0)',
                    confirmButtonColor: '#04AA6D',
                    background: 'rgb(250, 250, 109)',
                    customClass: {
                        popup: 'border-radius-0'
                    }
                }).then((value) => {
                    location.href = "/users/home/";
                });
            },
            error: function (data) {
                Swal.fire({
                    title: 'ล็อกอินไม่สำเร็จ',
                    padding: '3em',
                    color: 'rgb(0, 0, 0)',
                    confirmButtonColor: '#04AA6D',
                    background: 'rgb(250, 250, 109)',
                    customClass: {
                        popup: 'border-radius-0'
                    }
                })
            }
        });
        return false
    });

    function IsLogin() {
        $.ajax({
            type: "POST",
            url: '/users/islogin/',
            data: { 'line_id': line_id },
            success: function (data) {
                location.href = "/users/home/";
            }
        });
        return false
    }
</script>
</head>

</html>