<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;1,500&display=swap" rel="stylesheet">
<style>
  @font-face {

    font-family: 'Sarabun', sans-serif;
    src: url(https://fonts.google.com/specimen/Sarabun?subset=thai#standard-styles);
  }

  * {
    font-family: 'Sarabun', sans-serif;
  }

  body {
    background: #AEA8AA;
    background-image: url('/media/images/spacebackgroundv2.jpg');

  }

  .content {
   max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
  }

  label {
    font-size: 25px;
  }

  .tab button {
   max-width: 900px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 30px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }

  .button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    color: #AEA8AA;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 30px;
    border-radius: 50px;
  }

  .button-coin {
    background-color: #3273ff;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 380px;
  }

  .parginate-button {
    background-color: #fb9a1a;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 300px;
  }

  .detail-button {
    background-color: #1B74E4;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 200px;
  }

  #table-list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #table-list td,
  #table-list th {
    border: 0px solid #ddd;
    padding: 8px;
  }

  #table-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #table-list tr:hover {
    background-color: #ddd;
  }

  #table-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
</style>

<body>
  <div class="">
    <div class="tab" id="crypto_link">
      <button class='' type='button' id='button_home' name='button_home'
        onclick="document.location='/users/home/'">Home</button>
      <button class='' type='button' id='button_profile' name='button_profile'
        onclick="document.location='/users/profile/'">Profile</button>
      <button class='' type='button' id='button_coin' name='button_coin'
        onclick="document.location='/users/coin/'">Coin</button>
      <button class='active' type='button' id='button_news' name='button_news'
        onclick="document.location='/users/news/'" disabled>News</button>
      <button class='' type='button' id='button_questions' name='button_questions'
        onclick="document.location='/users/questions/'">Q&A</button>
    </div>
    <div style="padding-top: 40px;margin-left:50px;text-align: left;">
      <b><label style="color: white;font-size: 40px;">News</label></b>
    </div>
    <div style="padding-top: 10px;margin-left:50px;text-align: left;">
      <b><label style="color: white;font-size: 40px;">ข่าวสาร</label></b>
    </div>
    <div style="padding-top: 20px;">
      <div class="content">
        <div style="text-align: left;">
          <label>หน้าที่ : {{ page.number }}</label>
        </div>
        <div style="text-align: center;padding-top: 20px;">
          <table id="table-list" style="width: 100%;">
            <tr>
              <th style="text-align: center;"><label>วันที่/เวลา</label></th>
              <th style="text-align: center;"><label>หัวข้อข่าว</label></th>
              <th style="text-align: left;"><label></label></th>
            </tr>
            {% for item in page.object_list %}
            <tr>
              <td style="text-align: center;"><label style="font-size: 30px;">{{ item.date_time|date:'d/m/Y H:i:s' }}
              </td>
              <td style="text-align: left;"><label style="font-size: 30px;">{{ item.topic }}</td>
              <td style="text-align: center;"><button class='detail-button' type='button'
                  onclick="location.href='/users/newsdetail/?id={{ item.id }}'">รายละเอียด</button></td>
            </tr>
            {% endfor %}
          </table>
          <div>
            <div class="page-links" style="padding-top: 20px;">
              {% if page.has_previous %}
              <button class="parginate-button"
                onclick="location.href='/users/news/?page={{ page.previous_page_number }}'">Previous Page</button>
              {% endif %}
              {% if page.has_next %}
              <button class="parginate-button"
                onclick="location.href='/users/news/?page={{ page.next_page_number }}'">Next
                Page</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>

  crypto_button = '{{ cryptoString }}'
  crypto_button = crypto_button.replaceAll(") (", ",").replaceAll("(", "").replaceAll(")", "").replaceAll(" ", "").split(",")
  crypto_button.forEach((element, index) => {
    functions = 'myFunction("' + element + '")'
    var newChild = "<button class='tablinks' type='button' id='button_" + element + "' name='button_" + element + "' onclick='" + functions + "'>" + element.toUpperCase() + "</button>"
    $("#crypto_link").append(newChild);
  });

  function myFunction(crypto) {
    window.location.href = '/users/crypto/?' + 'crypto=' + crypto;
  }

  function deleteNews(id, topic) {
    Swal.fire({
      title: 'ลบข่าว ' + topic + ' หรือไม่',
      width: 400,
      padding: '3em',
      color: 'rgb(0, 0, 0)',
      showCancelButton: true,
      background: 'rgb(250, 250, 109)',
      confirmButtonText: 'ยืนยัน',
      confirmButtonColor: '#04AA6D',
      cancelButtonText: 'ยกเลิก',
      cancelButtonColor: '#EB4E3D',
      customClass: {
        popup: 'border-radius-0'
      }
    }).then((value) => {
      if (value.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/deleteNews/",
          data: { 'id': id },
          contentType: "application/x-www-form-urlencoded",
          success: function (data) {
            Swal.fire({
              title: 'ลบข่าวสำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              confirmButtonColor: '#04AA6D',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          },
          error: function (data) {
            Swal.fire({
              title: 'ลบข่าวไม่สำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              confirmButtonColor: '#04AA6D',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          }
        })
      }
    });
  }

  function sendNews(id, topic) {
    var name_edit = ""
    var name_short_edit = ""
    Swal.fire({
      title: 'ส่งข่าว ' + crypto,
      color: 'rgb(0, 0, 0)',
      background: 'rgb(250, 250, 109)',
      customClass: {
        popup: 'border-radius-0'
      },
      html:
        'เหรียญ ' +
        '<input style="margin-left: 73px;" id="name" value="' + name + '" class="swal2-input">' +
        'เหรียญ  (ย่อ)' +
        '<input id="name_short" value="' + name_short + '" class="swal2-input">',
      showCancelButton: true,
      confirmButtonText: 'ยืนยัน',
      cancelButtonText: 'ยกเลิก',
      preConfirm: () => {
        console.log(name_short);

        return [
          name_edit = document.getElementById('name').value,
          name_short_edit = document.getElementById('name_short').value
        ]
      }
    }).then((value) => {
      if (value.isConfirmed) {
        $.ajax({
          type: "POST",
          url: "/sendNews/",
          data: { 'id': id },
          contentType: "application/x-www-form-urlencoded",
          success: function (data) {
            Swal.fire({
              title: 'ส่งข่าวสำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          },
          error: function (data) {
            Swal.fire({
              title: 'ส่งข่าวไม่สำเร็จ',
              width: 400,
              padding: '3em',
              color: 'rgb(0, 0, 0)',
              background: 'rgb(250, 250, 109)',
              customClass: {
                popup: 'border-radius-0'
              }
            }).then((value) => {
              location.href = "";
            });
          }
        })
      }
    });
  }
</script>

</html>