<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;1,500&display=swap" rel="stylesheet">
<style>
    @font-face {

        font-family: 'Sarabun', sans-serif;
        src: url(https://fonts.google.com/specimen/Sarabun?subset=thai#standard-styles);
    }

    * {
        font-family: 'Sarabun', sans-serif;
    }

    table,
    th,
    tr,
    td {
        border-collapse: collapse;
        text-align: left;
        font-size: 39px;
        padding: 15px;
    }

    body {
        background: #AEA8AA;
        background-image: url('/media/images/spacebackgroundv2.jpg');

    }

    .content {
        max-width: 900px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        padding: 40px;
        border-radius: 20px;
    }

    label {
        font-size: 25px;
    }

    .tab button {
        max-width: 900px;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 12px;
        ;
        transition: 0.3s;
        font-size: 30px;
    }

    .tab {
        overflow: hidden;
        border: 1px solid rgb(0, 0, 0);
        background-color: #c3defd;
        border-radius: 50px;
    }

    .button {
        background-color: #04AA6D;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
    }

    .tab .active {
        background-color: rgb(250, 250, 109);
        color: #AEA8AA;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 12px;
        ;
        transition: 0.3s;
        font-size: 30px;
        border-radius: 50px;
    }

    .button-allow {
        background-color: #04AA6D;
        /* Green */
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
        width: 300px;
    }

    .button-notallow {
        background-color: #E5E5E5;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
        width: 300px;
    }

    .button-logout {
        background-color: #1B74E4;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
        width: 500px;
    }

    .border-radius-0 {
        border-radius: 50px;
        font-size: 20px;
    }
</style>

<body>
    <div class="tab" id="crypto_link">
        <button class='' type='button' id='button_home' name='button_home'
            onclick="document.location='/users/home/'">Home</button>
        <button class='active' type='button' id='button_home' name='button_home'
            onclick="document.location='/users/profile/'" disabled>Profile</button>
        <button class='' type='button' id='button_coin' name='button_coin'
            onclick="document.location='/users/coin/'">Coin</button>
        <button class='' type='button' id='button_news' name='button_news'
            onclick="document.location='/users/news/'">News</button>
        <button class='' type='button' id='button_questions' name='button_questions'
            onclick="document.location='/users/questions/'">Q&A</button>
    </div>
    <div>
        <div style="padding-top: 40px;margin-left:50px;text-align: left;">
            <b><label style="color: white;font-size: 40px;">Profile</label></b>
        </div>
        <div style="padding-top: 10px;margin-left:50px;text-align: left;">
            <b><label style="color: white;font-size: 40px;">ข้อมูลผู้ใช้งาน</label></b>
        </div>
        <div style="padding-top: 20px;">
            <div class="content">
                <div>
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <label>ชื่อบัญชี </label>
                            </td>
                            <td>
                                <label>{{user.username}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <label>เหรียญที่กำลังติดตาม</label>
                            </td>
                            <td>
                                {% for item in user.crypto %}
                                <img src='/media/uploads/{{item}}.png'
                                    style='margin-right: 10px;vertical-align: middle;' width='45' height='45'>
                                <label> {{ item|upper }} </label>
                                <br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>การแจ้งเตือนราคาเหรียญ ทุก 15 นาที</label>
                            </td>
                            <td>
                                {% if user.noti_status == 0 %}
                                <button class='button-notallow' type='button' style="color: #AEA8AA;"
                                    onclick="ChangeNotitSatus('noti_status')">ไม่รับการแจ้งเตือน</button>
                                {% else %}
                                <button class='button-allow' type='button'
                                    onclick="ChangeNotitSatus('noti_status')">รับการแจ้งเตือน</button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>การแจ้งเตือนสรุปรายวัน</label>
                            </td>
                            <td>
                                {% if user.daily_status == 0 %}
                                <button class='button-notallow' type='button' style="color: #AEA8AA;"
                                    onclick="ChangeNotitSatus('daily_status')">ไม่รับการแจ้งเตือน</button>
                                {% else %}
                                <button class='button-allow' type='button'
                                    onclick="ChangeNotitSatus('daily_status')">รับการแจ้งเตือน</button>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="padding-top: 40px;text-align: center;">
                    <button class='button-logout' type='button' onclick="logout()">ล็อกเอาท์</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    crypto_button = '{{ cryptoString }}'
    crypto_button = crypto_button.replaceAll(") (", ",").replaceAll("(", "").replaceAll(")", "").replaceAll(" ", "").split(",")
    crypto_button.forEach((element, index) => {
        functions = 'myFunction("' + element + '")'
        var newChild = "<button class='tablinks' type='button' id='button_" + element + "' name='button_" + element + "' onclick='" + functions + "'>" + element.toUpperCase() + "</button>"
        $("#crypto_link").append(newChild);
    });

    function myFunction(crypto) {
        window.location.href = '/users/crypto/?' + 'crypto=' + crypto;
    }

    function logout(logout) {
        Swal.fire({
            title: 'ออกจากระบบ',
            padding: '3em',
            color: 'rgb(0, 0, 0)',
            showCancelButton: true,
            background: 'rgb(250, 250, 109)',
            confirmButtonText: 'ยืนยัน',
            confirmButtonColor: '#04AA6D',
            cancelButtonText: 'ยกเลิก',
            cancelButtonColor: '#EB4E3D',
            customClass: {
                popup: 'border-radius-0'
            }
        }).then((value) => {
            if (value.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/users/logout/",
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data) {
                        Swal.fire({
                            title: 'ออกจากระบบสำเร็จ',
                            width: 400,
                            padding: '3em',
                            color: 'rgb(0, 0, 0)',
                            background: 'rgb(250, 250, 109)',
                            confirmButtonColor: '#04AA6D',
                            customClass: {
                                popup: 'border-radius-0'
                            }
                        }).then((value) => {
                            window.location.href = "/users/login/"
                        });
                    },
                    error: function (data) {
                        Swal.fire({
                            title: 'ออกจากระบบไม่สำเร็จ',
                            width: 400,
                            padding: '3em',
                            color: 'rgb(0, 0, 0)',
                            background: 'rgb(250, 250, 109)',
                            confirmButtonColor: '#04AA6D',
                            customClass: {
                                popup: 'border-radius-0'
                            }
                        }).then((value) => {
                            location.reload();
                        });
                    }
                })
            }
        })
    }

    function ChangeNotitSatus(data) {
        $.ajax({
            type: "POST",
            url: "/users/changenotistatus/",
            data: { 'type': data },
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                Swal.fire({
                    title: 'ปรับสถานะการแจ้งเตือนสำเร็จ',
                    padding: '3em',
                    color: 'rgb(0, 0, 0)',
                    background: 'rgb(250, 250, 109)',
                    confirmButtonColor: '#04AA6D',
                    customClass: {
                        popup: 'border-radius-0'
                    }
                }).then((value) => {
                    location.reload();
                });
            },
            error: function (data) {
                Swal.fire({
                    title: 'ปรับสถานะการแจ้งม่เตือนไม่สำเร็จ',
                    width: 400,
                    padding: '3em',
                    color: 'rgb(0, 0, 0)',
                    background: 'rgb(250, 250, 109)',
                    confirmButtonColor: '#04AA6D',
                    customClass: {
                        popup: 'border-radius-0'
                    }
                }).then((value) => {
                    location.reload();
                });
            }
        })
    }


</script>

</html>