<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;1,500&display=swap" rel="stylesheet">
<style>
  @font-face {

    font-family: 'Sarabun', sans-serif;
    src: url(https://fonts.google.com/specimen/Sarabun?subset=thai#standard-styles);
  }

  * {
    font-family: 'Sarabun', sans-serif;
  }

  table,
  th,
  tr,
  td {
    border-collapse: collapse;
    text-align: center;
    height: 30px;
  }

  body {
    background: #AEA8AA;
    background-image: url('/media/images/spacebackgroundv2.jpg');

  }

  .content {
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  label {
    color: rgb(0, 0, 0);
    font-size: 25px;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 30px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }

  .refresh-button {
    background-color: #1B74E4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 8px 10px;
    cursor: pointer;
    border-radius: 50px;
    width: 350px;
    margin-bottom: 20px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    color: #AEA8AA;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 30px;
    border-radius: 50px;
  }

  .grid-container {
    display: grid;
    gap: 5px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
  }

  .header {
    color: #AEA8AA;
    font-size: 25px;
  }

  .grid-item {
    text-align: left;
    padding: 5px;
    font-size: 30px;
  }

  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 30px;
  }

  .item2 {
    grid-column: 3 / span 2;
    grid-row: 1;
    text-align: right;

  }

  .item3 {
    color: #AEA8AA;
  }

  .coinname {
    position: relative;
    padding-left: 8px;
    padding-right: 16px;
    vertical-align: middle;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
  }

  .item6 {
    text-align: right;
  }

  .bubble-green {
    background-color: #04AA6D;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
  }

  .bubble-red {
    background-color: #EB4E3D;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
  }
</style>

<body>
  <div>
    <div class="tab" id="crypto_link">
      <button class='active' type='button' id='button_home' name='button_home' onclick="document.location='/dashboard/'"
        disabled>Home</button>
    </div>
    <div style="padding-top: 40px;margin-left:50px;text-align: left;">
      <b><label style="color: white;font-size: 40px;">Home</label></b>
    </div>
    <div style="padding-top: 10px;margin-left:50px;text-align: left;">
      <b><label style="color: white;font-size: 40px;">หน้าแรก</label></b>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <label style="color: white;font-size: 30px;">อัพเดตล่าสุด </label>
      <label style="color: white;font-size: 30px;">{{lastUpdate}} </label>
      <label style="color: white;font-size: 30px;">อัพเดตรอบถัดไป </label>
      <label style="color: white;font-size: 30px;">{{nextUpdate}}</label>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <label style="color: white;font-size: 30px;">วันที่ </label>
      <label style="color: white;font-size: 30px;" id="date"></label>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <button class="refresh-button" onclick="refresh()">Refresh</button>
    </div>
    <div id="add_contant">

    </div>
    <script>
      var arraysCrypto = {{ arraysCrypto| safe }};

      crypto_button = '{{ cryptoString }}'
      crypto_button = crypto_button.replaceAll(") (", ",").replaceAll("(", "").replaceAll(")", "").replaceAll(" ", "").split(",")
      crypto_button.forEach((element, index) => {
        functions = 'myFunction("' + element + '")'
        var newChild = "<button class='tablinks' type='button' id='button_" + element + "' name='button_" + element + "' onclick='" + functions + "'>" + element.toUpperCase() + "</button>"
        $("#crypto_link").append(newChild);
      });

      function myFunction(crypto) {
        window.location.href = '/dashboard/detail/?' + 'crypto=' + crypto;
      }

      arraysCrypto.forEach((element, index) => {
        var newChild =
          "<div class='content'>" +
          "<div class='grid-container'>" +
          "<div class='grid-item item1'><img src='"+element['image']+"' style='margin-right: 10px;vertical-align: middle;'  width='45' height='45'><span style='font-size:45px;vertical-align: middle;'><b>" + element['coin'].replace("-", "/").toUpperCase() + "</b></span></div>"
        if (element['r_square'] < 70) {
          newChild = newChild + "<div class='grid-item item2'><span class='bubble-red'> ค่าความน่าเชื่อถือ " + element['r_square'] + "%</span></div>"
        } else {
          newChild = newChild + "<div class='grid-item item2'><span class='bubble-green'> ค่าความน่าเชื่อถือ " + element['r_square'] + "%</span></div>"
        }
        newChild = newChild + "<div class='grid-item item3 header'>ราคา</div>" +
          "<div class='grid-item item4'>$ " + element['actually'][arraysCrypto[index]['actually'].length - 1].toLocaleString('en-US') + "</div>" +
          "<div class='grid-item item5 header'>ปริมาณ</div>" +
          "<div class='grid-item item6'>$ " + element['volume'][arraysCrypto[index]['volume'].length - 1].toLocaleString('en-US') + "</div>" +
          "</div>" +
          "<div style='text-align: center;padding-top: 10px;'>" +
          "<canvas id='chart_" + index + "'></canvas>" +
          "</div>" +
          "</div>"

        $("#add_contant").append(newChild);
      });


      arraysCrypto.forEach((element, index) => {
        var ctx_price = document.getElementById("chart_" + index);
        var chart = new Chart(ctx_price, {
          type: "line",
          data: {
            labels: element['date_time'],
            datasets: [
              {
                label: 'Actual Price',
                backgroundColor: '#1B74E4',
                borderColor: '#1B74E4',
                data: element['actually'],
                yAxisID: 'y',
                order: 1
              },
              {
                label: 'Prediction Price',
                backgroundColor: '#EB4E3D',
                borderColor: '#EB4E3D',
                data: element['predicted'],
                yAxisID: 'y',
                order: 3
              },
              {
                label: 'Volume',
                backgroundColor: '#CCCFFF',
                borderColor: '#CCCFFF',
                data: element['volume'],
                type: 'bar',
                yAxisID: 'z',
                order: 4
              }
            ]
          },
          options: {
            responsive: true,
            interaction: {
              mode: 'index',
              intersect: false,
            },
            stacked: false,
            plugins: {
              title: {
                display: true,
                text: 'Crypto Graph (R-Squared {{rSquare}})'
              }
            },
            scales: {
              y: {
                type: 'linear',
                display: true,
                position: 'left',
                title: {
                  display: true,
                  text: 'Price',
                  color: '#AEA8AA',
                  font: {
                    family: 'Times',
                    size: 20,
                    style: 'normal',
                    lineHeight: 1.2
                  },
                  padding: { top: 30, left: 0, right: 0, bottom: 0 }
                }
              },
              z: {
                type: 'linear',
                display: true,
                position: 'right',
                grid: {
                  drawOnChartArea: false,
                },
                title: {
                  display: true,
                  text: 'Volume',
                  color: '#AEA8AA',
                  font: {
                    family: 'Times',
                    size: 20,
                    style: 'normal',
                    lineHeight: 1.2
                  },
                  padding: { top: 30, left: 0, right: 0, bottom: 0 }
                }
              },
            }
          },
        })
      })

      var timeDisplay = document.getElementById("date");
      var nextRefresh = '{{ nextRefresh }}'

      function refreshTime() {
        var dateString = new Date().toLocaleString("en-GB", { timeZone: "Asia/Bangkok" });
        var formattedString = dateString.replaceAll("/", "-").replaceAll(", ", " ")
        formattedArrays = formattedString.split(" ")
        time = formattedArrays[1]
        date = formattedArrays[0].split("-")

        day = date[0]
        month = date[1]
        year = date[2]

        string = day + "-" + month + "-" + year + " " + time

        check = year + "-" + month + "-" + day + " " + time

        timeDisplay.innerHTML = string;

        var realTime = new Date(check);
        var nextUpdate = new Date(nextRefresh);
        nextUpdate.setSeconds(nextUpdate.getSeconds() + 2);
        if (nextUpdate < realTime) {
          location.reload();
        }
      }
      setInterval(refreshTime, 1000);

      function refresh() {
        location.reload();
      }
    </script>
  </div>
</body>

</html>