<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,300;1,500&display=swap" rel="stylesheet">
<style>
    @font-face {

        font-family: 'Sarabun', sans-serif;
        src: url(https://fonts.google.com/specimen/Sarabun?subset=thai#standard-styles);
    }

    * {
        font-family: 'Sarabun', sans-serif;
    }

    body {
        background: #AEA8AA;
        background-image: url('/media/images/spacebackgroundv2.jpg');

    }

    .content {
       max-width: 900px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        padding: 40px;
        border-radius: 20px;
    }

    label {
        font-size: 25px;
    }

    .tab button {
       max-width: 900px;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 12px;;
        transition: 0.3s;
        font-size: 30px;
    }

    .tab {
        overflow: hidden;
        border: 1px solid rgb(0, 0, 0);
        background-color: #c3defd;
        border-radius: 50px;
    }

    .button {
        background-color: #04AA6D;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
    }

    .tab .active {
        background-color: rgb(250, 250, 109);
        color: #AEA8AA;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 12px;;
        transition: 0.3s;
        font-size: 30px;
        border-radius: 50px;
    }

    .delete-button {
        background-color: #ff0000;
        /* Green */
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
    }

    .view-button {
        background-color: #3273ff;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
        width: 200px;
    }

    .send-button {
        background-color: #0c79ff;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
        width: 200px;
    }

    #table-list {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #table-list td,
    #table-list th {
        border: 0px solid #ddd;
        padding: 8px;
    }

    #table-list tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table-list tr:hover {
        background-color: #ddd;
    }

    #table-list th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

    .border-radius-0 {
        border-radius: 50px;
        font-size: 20px;
    }
</style>

<body>
    <div style="padding-top: 40px;margin-left:50px;text-align: left;">
        <b><label style="color: white;font-size: 40px;">Command and Help</label></b>
    </div>
    <div style="padding-top: 10px;margin-left:50px;text-align: left;">
        <b><label style="color: white;font-size: 40px;">คำสั่งและช่วยเหลือ</label></b>
    </div>
    <div style="padding-top: 20px;">
        <div class="content">
            <div style="text-align: center;padding-top: 20px;">
                <table id="table-list" style="width: 100%;">
                    <tr>
                        <th style="text-align: center;"><label>คำสั่ง</label></th>
                        <th style="text-align: center;"><label>รายละเอียด</label></th>
                    </tr>
                    {% for item in data %}
                    <tr>
                        <td style="text-align: left;"><label>{{item.0}}</label></td>
                        <td style="text-align: left;"><label>{{item.1}}</label></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">
                            ไม่มีข้อมูล
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    </div>
</body>

</html>