<!DOCTYPE html>
<html>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
</style>

<body>
  <div class="content">
    <div tyle="text-align: center;">
      <table>
        <tr>
          <th colspan="5">{{ title }}</th>
        </tr>
        <tr>
          <th>ลำดับ</th>
          <th>ผู้ใช้งาน</th>
          <th>เหรียญ</th>
          <th>ไลย์ไอดี</th>
          <th>สถานะ</th>
        </tr>
        {% for item in data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.crypto }}</td>
          <td>{{ item.line_id }}</td>
          <td>
            {% if item.status == 1 %}
            Actice
            {% else %}
            Disactive
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</body>

</html>