<!DOCTYPE html>
<html>
<style>
  table,
  th,
  tr,
  td {
    border: 1px solid rgb(249, 249, 205);
    border-collapse: collapse;
    text-align: center;
  }

  body {
    background: #AEA8AA;
  }

  label {
    color: rgb(255, 255, 255);
  }

  .content {
    max-width: 1000px;
    margin: auto;
    background-image: url('/media/images/spacebackgroundv2.jpg');
    /* background: rgb(249, 249, 205); */
    padding: 10px;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }

  .delete-button {
    background-color: #ff0000;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .detail-button {
    background-color: #62ff00;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .edit-button {
    background-color: #0c79ff;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .parginate-button {
    background-color: #fb9a1a;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .left {
    vertical-align: top;
    text-align: left;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .page-links {
    text-align: center;
    margin: auto;
    width: 50%
  }

  .border-radius-0 {
    border-radius: 50px;
  }
</style>

<body>
  <div class="content">
    <div class="tab" id="crypto_link">
      <button class='tablinks active' type='button' id='button_crypto' name='button_crypto'
        onclick="document.location='/crypto/'" disabled>Crypto</button>
      <button class='tablinks' type='button' id='button_news' name='button_news'
        onclick="document.location='/newsUsers/'">News</button>
    </div>
    <div style="padding-top: 10px;text-align: center;">
      <h2><label>{{ title }}</label></h2>
    </div>
    <div style="text-align: center;padding-top:10px;">
      <table style="width: 100%;">
        <tr>
          <th style="text-align: center;"><label>ลำดับ</label></th>
          <th style="text-align: center;"><label>เหรียญ</label></th>
          <th style="text-align: center;"><label>เหรียญ (ย่อ)</label></th>
          <th style="text-align: center;"><label>มูลค่า</label></th>
          <th style="text-align: center;"><label>ผู้ลงทุน</label></th>
          <th style="text-align: center;"><label>ผู้ก่อตั้ง</label></th>
          <th style="text-align: center;"><label>รางวัล</label></th>
        </tr>
        {% for item in data %}
        <tr>
          <td style="text-align: center;"><label>{{ forloop.counter }}</td>
          <td style="text-align: center;"><label>{{ item.name }}</td>
          <td style="text-align: center;"><label>{{ item.crypto }}</td>
          <td style="text-align: center;"><label>
              {% if item.initial_supply == '0' %}
              -
              {% else %}
              ${{ item.initial_supply }}
              {% endif %}
          </td>
          <td style="text-align: center;"><label>
              {% if item.allocated_to_investors_percentage == '0' %}
              -
              {% else %}
              {{ item.allocated_to_investors_percentage }}%
              {% endif %}</label>
          </td>
          <td style="text-align: center;"><label>
              {% if item.allocated_to_organization_or_founders_percentage == '0' %}
              -
              {% else %}
              {{ item.allocated_to_organization_or_founders_percentage }}%
              {% endif %}</label>
          </td>
          <td style="text-align: center;"><label>
              {% if item.allocated_to_premined_rewards_or_airdrops_percentage == '0' %}
              -
              {% else %}
              {{ item.allocated_to_premined_rewards_or_airdrops_percentage }}%
              {% endif %}</label>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</body>

</html>