<!DOCTYPE html>
<html>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
</style>

<body>
  <div style="text-align: center;">
    <div class="content">
      <div>
        <table>
          <tr>
            <th colspan="5">{{ title }}</th>
          </tr>
          <tr>
            <th>ลำดับ</th>
            <th>เหรียญ</th>
            <th>ราคา</th>
            <th>ราคารวม</th>
            <th>วันที่</th>
          </tr>
          {% for item in data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.crypto }}</td>
            <td>{{ item.price_usd }}</td>
            <td>{{ item.volume }}</td>
            <td>{{ item.date_time }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</body>

</html>