<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
    table,
    th,
    tr,
    td {
        border: 1px solid rgb(249, 249, 205);
        border-collapse: collapse;
        text-align: center;
    }

    body {
        background: #AEA8AA;
    }

    label {
        color: rgb(255, 255, 255);
    }

    .content {
        max-width: 1000px;
        margin: auto;
        background-image: url('/media/images/spacebackgroundv2.jpg');
        /* background: rgb(249, 249, 205); */
        padding: 10px;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 12px;;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab {
        overflow: hidden;
        border: 1px solid rgb(0, 0, 0);
        background-color: #c3defd;
        border-radius: 50px;
    }

    .button {
        background-color: #04AA6D;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 50px;
    }

    .tab .active {
        background-color: rgb(250, 250, 109);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 12px;;
        transition: 0.3s;
        font-size: 17px;
        border-radius: 50px;
    }
</style>

<body>
    <div class="content">
        <div class="tab" id="crypto_link">
            <button class='' type='button' id='button_home' name='button_home'
                onclick="document.location='{{ home }}'">Home</button>
            <button class='active' type='button' id='button_home' name='button_home'
                onclick="document.location='{{ daily }}'" disabled>Daily</button>
        </div>

        <div style="text-align: center;padding-top: 10px;">
            <label style="font-size: 25px;"> DashBoard</label>
        </div>
        <div style="text-align: center;padding-top: 10px;">
            <label style="font-size: 25px;"> Summary Daily</label>
        </div>
        <div style="text-align: center;padding-top: 10px;">
            <label>Date : </label><label style="font-size: 18px;" id="date"></label>
        </div>
        <div style="text-align: center;padding-top: 10px;">
            <button class="button" onclick="refresh()">Refresh</button>
        </div>
        <div style="text-align: center;padding-top: 10px;">
            <table>

                <div id="add_chart">
                </div>
            </table>
        </div>

        <script>
            var dashboard = {{ dashboard| safe }};
            var dateTimeArrays = {{ dateTimeArrays| safe }};
            var type = {{ type| safe }};
            var cryptoString = '{{ cryptoString| safe }}';
            crypto_button = cryptoString
            crypto_button = crypto_button.replaceAll(") (", ",").replaceAll("(", "").replaceAll(")", "").replaceAll(" ", "").split(",")
            crypto_button.forEach((element, index) => {
                functions = 'myFunction("' + element + '")'
                var newChild = "<button class='tablinks' type='button' id='button_" + element + "' name='button_" + element + "' onclick='" + functions + "'>" + element.toUpperCase() + "</button>"
                $("#crypto_link").append(newChild);
            });

            function myFunction(crypto) {
                window.location.href = '/dashboard/detail/' + '?crypto=' + crypto;
            }

            var newChild = "<tr>" +
                "<th>" +
                "<label>เหรียญ</label>" +
                "</th>" +
                "<th>" +
                "<label>ราคาเปิด</label>" +
                "</th>" +
                "<th>" +
                "<label>ราคาปิก</label>" +
                "</th>" +
                "<th>" +
                "<label>อัตราการเติบโต</label>" +
                "</th>" +
                "</tr>"
            $("#add_chart").append(newChild);
            dashboard.forEach((element, index) => {
                var newChild = "<tr>" +
                    "<td style='width: 30%;text-align:center;vertical-align: middle;'>" +
                    "<label>" + element[0] + "</label>" +
                    "</td>" +
                    "<td style='width: 30%;text-align:center;vertical-align: middle;'>" +
                    "<canvas id='chart_open_" + index + "'></canvas>" +
                    "</td>" +
                    "<td style='width: 30%;text-align:center;vertical-align: middle;'>" +
                    "<canvas id='chart_close_" + index + "'></canvas>" +
                    "</td>" +
                    "<td style='width: 30%;text-align:center;vertical-align: middle;'>" +
                    "<canvas id='chart_grow_rate_" + index + "'></canvas>" +
                    "</td>" +
                    "</tr>"

                $("#add_chart").append(newChild);

            });
            backgroundColor = []
            dashboard[0][1].forEach((element, index) => {
                if (index == 1) {
                    backgroundColor.push('rgb(255, 0, 0)');
                } else {
                    backgroundColor.push('rgb(0, 0, 255)')
                }
            })
            console.log(dashboard)
            dashboard.forEach((element, index) => {
                var ctx_price = document.getElementById("chart_open_" + index);
                var chart = new Chart(ctx_price, {
                    type: "line",
                    data: {
                        labels: dateTimeArrays,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: backgroundColor,
                            borderColor: "rgb(255, 227, 0)",
                            pointRadius: 5,
                            data: element[1]
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                labels: function (tooltipItem) {
                                    return tooltipItem.yLabel;
                                }
                            }
                        }
                    }
                });

                var ctx_price = document.getElementById("chart_close_" + index);
                var chart = new Chart(ctx_price, {
                    type: "line",
                    data: {
                        labels: dateTimeArrays,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: backgroundColor,
                            borderColor: "rgb(255, 227, 0)",
                            pointRadius: 5,
                            data: element[2]
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                labels: function (tooltipItem) {
                                    return tooltipItem.yLabel;
                                }
                            }
                        }
                    }
                });

                var ctx_price = document.getElementById("chart_grow_rate_" + index);
                var chart = new Chart(ctx_price, {
                    type: "line",
                    data: {
                        labels: dateTimeArrays,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: backgroundColor,
                            borderColor: "rgb(255, 227, 0)",
                            pointRadius: 5,
                            data: element[3]
                        }]
                    },
                    options: {
                        legend: { display: false },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontColor: "white",
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: "white",
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                labels: function (tooltipItem) {
                                    return tooltipItem.yLabel;
                                }
                            }
                        }
                    }
                });
            })

            var timeDisplay = document.getElementById("date");

            function refreshTime() {
                var dateString = new Date().toLocaleString("en-GB", { timeZone: "Asia/Bangkok" });
                var formattedString = dateString.replaceAll("/", "-").replaceAll(", ", " ")
                formattedArrays = formattedString.split(" ")
                time = formattedArrays[1]
                date = formattedArrays[0].split("-")

                day = date[0]
                month = date[1]
                year = date[2]

                string = year + "-" + month + "-" + day + " " + time
                timeDisplay.innerHTML = string;

                var realTime = new Date(string);
                // var nextUpdate = new Date(nextRefresh);
                // nextUpdate.setSeconds(nextUpdate.getSeconds() + 2);
                // if (nextUpdate < realTime) {
                //   // location.reload();
                // }
            }

            setInterval(refreshTime, 1000);

            function refresh() {
                location.reload();
            }
        </script>
    </div>
</body>

</html>