{% load static %}
<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
  body {
    background: #AEA8AA;
  }

  label {
    color: rgb(255, 255, 255);
  }

  .content {
    max-width: 500px;
    margin: auto;
    background-image: url('/media/images/spacebackground.png');
    /* background: white; */
    padding: 10px;
  }

  .text-center {
    text-align: center;
  }

  .button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
</style>

<body>
  <img src="">
  <div class="content">
    <div style="text-align: center;padding-top: 10px;">
      <label style="font-size: 25px;" id="title"></label>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <label> Type : </label><label style="font-size: 20px;" id="type"></label>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <label>Date : </label><label style="font-size: 20px;" id="date"></label>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <button class="button" onclick="refresh()">Refresh</button>
    </div>
    <div style="text-align: center;padding-top: 10px;">
      <div id="add_chart">
      </div>
    </div>

    <script>
      var title = {{ title| safe }};
      var pridictArrays = {{ crypto| safe }};
      var dateTimeArrays = {{ dateTimeArrays| safe }};
      pridictArrays.forEach((element, index) => {
        var newChild = "<canvas id='chart_" + index + "' style='width: 100%; max-width: 600px'></canvas>"
        $("#add_chart").append(newChild);

      });
      $('#title').text(title[0])
      $('#date').text(title[1])
      $('#type').text(title[2])
      if (title[2] == 'PRICE_USD') {
        pridictArrays.forEach((element, index) => {
          var ctx = document.getElementById("chart_" + index);
          document.getElementById("name_" + index)

          var chart = new Chart(ctx, {
            type: "line",
            data: {
              labels: dateTimeArrays,
              datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: [
                  'rgb(0, 0, 255)',
                  'rgb(255, 0, 0)',
                  'rgb(0, 0, 255)',
                  'rgb(0, 0, 255)',
                  'rgb(0, 0, 255)',
                  'rgb(0, 0, 255)'
                ],
                borderColor: "rgb(255, 227, 0)",
                pointRadius: 5,
                data: element[1]
              }]
            },
            options: {
              legend: { display: false },
              scales: {
                yAxes: [{
                  gridLines: {
                    display: true,
                    drawBorder: true,
                    color: "#AEA8AA",
                  },
                  ticks: {
                    fontColor: "white",
                  }
                }],
                xAxes: [{
                  gridLines: {
                    display: true,
                    drawBorder: true,
                    color: "#AEA8AA",
                  },
                  ticks: {
                    fontColor: "white",
                  }
                }]
              },
              title: {
                display: true,
                text: element[0],
                fontSize: 16,
                fontColor: "white",
              }
            }
          });
        })
      } else {
        pridictArrays.forEach((element, index) => {
          var ctx = document.getElementById("chart_" + index);
          var chart = new Chart(ctx, {
            type: "bar",
            data: {
              labels: dateTimeArrays,
              datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: [
                  'rgb(0, 0, 255)',
                  'rgb(255, 0, 0)',
                  'rgb(0, 0, 255)',
                  'rgb(0, 0, 255)',
                  'rgb(0, 0, 255)',
                  'rgb(0, 0, 255)'
                ],
                borderColor: "rgba(0,0,255,0.1)",
                data: element[1]
              }]
            },
          });
        });
      }

      function refresh() {
        location.reload();
      }

    </script>
  </div>
</body>

</html>