<!DOCTYPE html>
<html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
  table,
  th,
  tr,
  td {
    border: 1px solid rgb(249, 249, 205);
    border-collapse: collapse;
    text-align: center;
  }

  body {
    background: #AEA8AA;
  }

  label {
    color: rgb(255, 255, 255);
  }

  .content {
    max-width: 1000px;
    margin: auto;
    background-image: url('/media/images/spacebackgroundv2.jpg');
    /* background: rgb(249, 249, 205); */
    padding: 30px;
    word-wrap: break-word;
  }

  .paper {
    max-width: 1000px;
    margin: auto;
    background: rgb(249, 249, 205);
    padding: 10px;
    word-wrap: break-word;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab .active {
    background-color: rgb(250, 250, 109);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 12px;;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 50px;
  }

  .back-button {
    background-color: #ff0000;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #c3defd;
    border-radius: 50px;
  }
</style>

<body>
  <div class="content">
    <div class="tab" id="crypto_link">
      <button class='tablinks' type='button' id='button_home' name='button_home'
        onclick="document.location='/home/'">Home</button>
      <button class='tablinks' type='button' id='button_crypto' name='button_crypto'
        onclick="document.location='/crypto/'">Crypto</button>
      <button class='tablinks active' type='button' id='button_news' name='button_news'
        onclick="document.location='/news/'" disabled>News</button>
      <button class='tablinks' type='button' id='button_user' name='button_user'
        onclick="document.location='/users/'">Users</button>
      <button class='tablinks' type='button' id='button_questions' name='button_questions'
        onclick="document.location='/questions/'">Q&A</button>
    </div>
    <div style="text-align: right;padding-top: 10px;">
      <button class="back-button" onclick="document.location='/news/'">ย้อนกลับ</button>
    </div>
    <div class="">
      <div style="text-align: center;padding-top: 10px;">
        <label> {{ data.topic }} </label>
      </div>
      <div style="padding-top: 10px;">
        <label> {{ data.detail }} </label>
      </div>
    </div>
  </div>
</body>

</html>