<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<canvas id='myChart'></canvas>

<script>
  // actualPrice = {{ actualPrice }}
  actualVolume = {{ actualVolume }}
  predictPrice = {{ predictPrice }}
  actualPricePredict = {{ actualPricePredict }}
  dateTime = {{ dateTime | safe }}

  const data = {
    labels: dateTime,
    datasets: [
      {
        label: 'Actual Price Predict',
        backgroundColor: '#1aff00',
        borderColor: '#1aff00',
        data: actualPricePredict,
        yAxisID: 'y',
        order: 1
      },
      {
        label: 'Prediction Price',
        backgroundColor: '#FF0027',
        borderColor: '#FF0027',
        data: predictPrice,
        yAxisID: 'y',
        order: 3
      },
      {
        label: 'Volume',
        backgroundColor: '#CCCFFF',
        borderColor: '#CCCFFF',
        data: actualVolume,
        type: 'bar',
        yAxisID: 'z',
        order: 4
      }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      responsive: true,
      interaction: {
        mode: 'index',
        intersect: false,
      },
      stacked: false,
      plugins: {
        title: {
          display: true,
          text: 'Crypto Graph (R-Squared {{rSquare}})'
        }
      },
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          title: {
            display: true,
            text: 'Price',
            color: '#191',
            font: {
              family: 'Times',
              size: 20,
              style: 'normal',
              lineHeight: 1.2
            },
            padding: { top: 30, left: 0, right: 0, bottom: 0 }
          }
        },
        z: {
          type: 'linear',
          display: true,
          position: 'right',
          grid: {
            drawOnChartArea: false,
          },
          title: {
            display: true,
            text: 'Volume',
            color: '#191',
            font: {
              family: 'Times',
              size: 20,
              style: 'normal',
              lineHeight: 1.2
            },
            padding: { top: 30, left: 0, right: 0, bottom: 0 }
          }
        },
      }
    },
  };

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</html>